
<div class="about_form about_bg">

<h2>About Us</h2><br/>

<p class='about-us'> Topick (pronounced as too-pick, derived from toothpick) is the instagram for foodies to upload their most proud photo of their dish and share it with the world. It is the sacred place for all foodie instagramers to unite and share their passion towards food, as well as the location of these gems so that other foodies can give it a go! Happy fooding!</p>

</div>
